In [17]:
sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}

In [18]:
round((sales['sell_value'] - sales['cost_value']) * sales['inventory'])

13130

In [29]:
amount = float(input ("enter payrolls amount :  "))

enter payrolls amount :  5.658

In [31]:
print(f"${amount:.2f}".format(amount))

$5.66

In [35]:
count = list(range(1, 11))
count.sort(reverse = True)
print(count)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
list(range(20, 200, 40)) # 20-200 arası 40 artarak listeleme

[20, 60, 100, 140, 180]

In [40]:
sum(range(1, 100, 5)) # 1-100 arasındaki 5 in katları toplamı

970

In [5]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer)

['banana', ['orange', ['apple', 'eggplant', 'melon', 'spinach', 'cheese', 'leek'], 'water'], 'mandarin']

In [ ]:
left_hand = set('bvcxzgfdsatrewq')

right_hand = set('mnlkjhophiuy')

word = set(input())

print(bool(word & left_hand and word & left_hand))

In [15]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
print(colors[1][0])

blue

In [16]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [17]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{} I have two children.{} Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

I am 40 years old.
	 I have two children.
		 Data Science is my IT domain.

In [24]:
province = input('enter your province : ')
if province in ('Ankara', \
               'İzmir', 'Bursa'):
   print("tax = 0.5 ")
elif province == 'Yozgat':
    print("tax = 0.8")
else:
    print("tax = 'Free'")

enter your province : Yozgat
tax = 0.8

In [35]:
gpa = int(input())
if gpa >= 7:
    print("honor = True")
else:
    print("honor = False")

8
honor = True

In [36]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

Let's play the guessing game!
What number am I thinking of?  45
Little lower
What number am I thinking of?  43
Little higher
What number am I thinking of?  44
Are you a MINDREADER!!!

In [8]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = len(flowers)

while count2 > 0 :
    print(flowers[])
    len(flowers) -= count2
    len(flowers) += count2

SyntaxError: invalid syntax (<ipython-input-8-76f11ced2244>, line 6)

In [9]:
for i in {'n1' : 'one', 'n2' : 'two'} : print(i)

n1
n2

In [10]:
iterable = [1, 2, 3, 4]
for iterable in iterable :
    print(iterable ** 2)

1
4
9
16

In [11]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

enter a number between 1-105
5x0 =  0
5x1 =  5
5x2 =  10
5x3 =  15
5x4 =  20
5x5 =  25
5x6 =  30
5x7 =  35
5x8 =  40
5x9 =  45
5x10 =  50

In [12]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print("%d * %d" % (n, i), n* i)

enter a number between 1-105
5 * 0 0
5 * 1 5
5 * 2 10
5 * 3 15
5 * 4 20
5 * 5 25
5 * 6 30
5 * 7 35
5 * 8 40
5 * 9 45
5 * 10 50

In [13]:
print(*range(10,0,-2))

10 8 6 4 2

In [ ]:
year = int(input("dört rakamlı yıl giriniz : "))

In [4]:
year = int(input("dört rakamlı yıl giriniz : "))
leap = ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0)
print(leap)

dört rakamlı yıl giriniz : 2000
True

In [5]:
sehir =["addis adaba", "tokyo", "rome", "istanbul"]

In [7]:
sorted(sehir, reverse = True, key = len) # uzundan kısaya sıralama

['addis adaba', 'istanbul', 'tokyo', 'rome']

In [8]:
sorted(sehir, key = len) #default kısadan uzuna

['rome', 'tokyo', 'istanbul', 'addis adaba']

In [9]:
[1,2,3,4] + ["11","22",33]

[1, 2, 3, 4, '11', '22', 33]

In [10]:
t = (1, 2, [1, 3, 5])

In [11]:
t

(1, 2, [1, 3, 5])

In [13]:
t[2].append("1")

In [14]:
t

(1, 2, [1, 3, 5, '1'])

In [24]:
a, _, b, *_ = (10, 20, 30 ,40)

In [25]:
print(a, b)

10 30

In [20]:
x, y, *z, c = (10, 20, 30 ,40, 50, 60)
print(z) #z son elemana kadarını alır

[30, 40, 50]

In [21]:
print(c) #son eleman alır

60

In [23]:
x, y, *z, _ = (10, 20, 30 ,40, 50, 60)
print(z)
print(_)

[30, 40, 50]
60